.App {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
    width: 100%;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2% 7%;
}


/* step1 */
.step1-page {
    height: 100vh;
    width: 100vw;
    background: #9F46E5;
}

.step1-title {
    color: white;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}

.step1-primary-button {
    color: black;
    background: #FDD500;
    width: 130px;
    border-radius: 100px;
    gap: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px #49484833;
    font-size: 22px;
    margin: 30px 0 0;
    padding: 10px 0;
    font-weight: 600;
}

.step1-des {
    color: white;
    font-size: 17px;
    line-height: 27px;
}

/* ----------- */

/* step2 */
.step2-page {
    height: 100vh;
    width: 100vw;
    background: white;
}

.step2-title {
    color: #9F46E5;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 5px;
}

.step2-des {
    color: black;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 25px;
}

.step2-inputBox {
    width: 80%;
    margin-left: 10%;
    background: #F5F5F5;
    border: none;
    padding: 2%;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 3%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #49484833;
}

.step2-inputBox:hover,
.step2-inputBox:focus {
    outline: none;
    border: 1px solid #9F46E5;
}

.step2-primary-button {
    color: black;
    background: #FDD500;
    width: 130px;
    border-radius: 100px;
    gap: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px #49484833;
    font-size: 22px;
    margin: 15px 0 0;
    padding: 10px 0;
    font-weight: 600;
}

/* ---------- */

/* step3 */
.login-box {
    height: 100vh;
    width: 100vw;
    background: #fdd500;
}

.center {
    width: 100%;
    text-align: center;
}

.login-title {
    color: #282828f2;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 40px;
}

.step3-inputBox {
    width: 80%;
    margin-left: 10%;
    background: #f7e7b1;
    border: none;
    padding: 2%;
    font-size: 20px ;
    margin-bottom: 10px;
    padding-left: 3%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #49484833;
}

.step3-inputBox:hover,
.step3-inputBox:focus {
    outline: none;
    border: 1px solid #fae49b;
}

.step3-primary-button {
    color: white;
    background: #9f46e5;
    width: 100px;
    border-radius: 100px;
    gap: 20px;
    border: none;
    box-shadow: 0px 4px 4px 0px #49484833;
    font-size: 22px;
    margin: 10px 0 0;
    padding: 10px 0;
    /* font-weight: 600; */
}

/* ---------- */

/* step4 */
.step4-title {
    color: #9F46E5;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* ----------- */
:where(.css-dev-only-do-not-override-nnuwmp).ant-form-item .ant-form-item-explain-error {
    color: #ff4d4f;
    position: relative;
    top: -5px;
    left: 10%;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #9f46e5;
    border-color: #9f46e5;
}


@media (max-width: 600px) {
    .login-form {
        left: 25%;
        transform: translate(-18%, -50%);
        padding: 0;
    }

    .step2-title {
        font-size: 26px;
        margin-bottom: 7px;
    }

    .login-title {
        font-weight: bold;
        margin-bottom: 25px;
    }

    .step4-title {
        font-size: 29px;
    }
}
.ant-dropdown-menu {
    max-height: 250px;
    overflow: auto;
}