.dashboard-header {
    background: linear-gradient(103deg, #6969ec 33.71%, #6e8be1 47.05%, #7097dd 64.95%);  
    padding: 8px 20px;
}

.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light,
:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light>.ant-menu,
:where(.css-nnuwmp).ant-menu-light {
    color: white;
    font-weight: 400;
    background: transparent;  
    font-size: 15px;
}

.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after {
    border: none;
}

.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
    color: #fdd500;
}

.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-horizontal,
:where(.css-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-nnuwmp).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
:where(.css-nnuwmp).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border: none;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light.ant-menu-submenu>.ant-menu {
    background: #386AA3;
}

.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-nnuwmp).ant-menu-horizontal {
    border: none;
}

.dashboard-header .anticon,
:where(.css-nnuwmp).ant-menu-light {
    color: white;
}

.dashboard-header :where(.css-dev-only-do-not-override-nnuwmp).ant-menu .ant-menu-submenu-title .anticon {
    font-size: 32px;
    position: relative;
    top: 6px;
}

.dashboard-content {
    padding: 20px 100px;
}

/* .dashboard-welcome-section{
    width: 70%;
} */
.dashboard-welcome-txt {
    font-size: 28px;
    color: #373F41;
    font-weight: 400;
}

.current-level-number {
    padding: 10px 18px;
    background: #386AA3;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.cln {
    font-size: 24px;
    font-weight: 400;
}

.all-level-list-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.all-level-list-des {
    text-align: center;
    font-size: 22px;
    margin-top: 4px;
}

.all-level-list-card {
    padding: 10px;
}

.all-levels-txt {
    font-size: 30px;
    font-weight: 400;
    color: black;
    margin: 50px 0px 10px;
}

.dashboard-header-logo {
    width: 60%;
}

.new-goodstep {
    padding: 50px 0;
}

.left-right-arrow {
    font-size: 30px;
    color: #cbc7ce;
}
.levelCard{
    padding: 50px 0;
    height: 280px;
}
@media (max-width: 600px) {
    .levelCard{
        height: 250px;
    }
    .all-level-list-card {
        padding: 0;
    }
    .dashboard-content {
        padding: 20px 30px;
    }

    .dashboard-welcome-txt {
        font-size: 20px;
    }

    .current-level-number {
        padding: 6px 18px;
    }

    .all-levels-txt {
        font-size: 24px;
        margin: 30px 5px 10px;
    }

    .dashboard-header-logo {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .levelCard{
        height: 200px;
        padding: 20px 0;
    }
    .all-level-list-des{
        font-size: 16px;
    }
    .current-level-number {
        padding: 7px 18px;
    }

    .all-levels-txt {
        font-size: 24px;
        margin: 29px 24px 10px;
    }

    .dashboard-content {
        padding: 20px 66px;
    }
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-overflow {
    justify-content: flex-end;
}

.no-data-found{
    text-align: center;
}
.grayscale{
    filter: grayscale(1);
}
.profileName{
    background: #386AA3;
    border-radius: 50%;
    width: 41px;
    height: 40px;
    text-align: center;
    font-size: 27px;
    padding: 10px;
    color: white;
    font-weight: 400;
}