.wd-popup.wd-promo-popup{
	background-color:#111111;
	background-image: url(https://thisisweird.in/goodstep/wp-content/uploads/2021/08/promo-popup.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.page-title-default{
	background-color:#0a0a0a;
	background-image: url(https://thisisweird.in/goodstep/wp-content/uploads/2021/10/food-page-title.jpg);
	background-size:cover;
	background-position:center center;
}

.footer-container{
	background-color:rgb(104,75,165);
	background-image: none;
}

:root{
--wd-text-font:"GILROY-MEDIUM", Arial, Helvetica, sans-serif;
--wd-text-font-weight:400;
--wd-text-color:rgb(103,88,242);
--wd-text-font-size:20px;
}
:root{
--wd-title-font:"GILROY-BLACK", Arial, Helvetica, sans-serif;
--wd-title-font-weight:700;
--wd-title-color:rgb(103,88,242);
}
:root{
--wd-entities-title-font:"GILROY-SEMIBOLD", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight:600;
--wd-entities-title-color:rgb(103,88,242);
--wd-entities-title-color-hover:rgb(103, 88, 242);
}
:root{
--wd-alternative-font:"GILROY-SEMIBOLD", Arial, Helvetica, sans-serif;
}
:root{
--wd-widget-title-font:"GILROY-SEMIBOLD", Arial, Helvetica, sans-serif;
--wd-widget-title-font-weight:600;
--wd-widget-title-transform:uppercase;
--wd-widget-title-color:rgb(103,88,242);
--wd-widget-title-font-size:20px;
}
:root{
--wd-header-el-font:"Poppins", Arial, Helvetica, sans-serif;
--wd-header-el-font-weight:700;
--wd-header-el-transform:capitalize;
--wd-header-el-font-size:20px;
}
:root{
--wd-primary-color:rgb(88,112,190);
}
:root{
--wd-alternative-color:rgb(88,112,190);
}
:root{
--wd-link-color:rgb(103,88,242);
--wd-link-color-hover:rgb(103,88,242);
}
:root{
--btn-default-bgcolor:#f7f7f7;
}
:root{
--btn-default-bgcolor-hover:#efefef;
}
:root{
--btn-shop-bgcolor:rgb(88,112,190);
}
:root{
--btn-shop-bgcolor-hover:rgb(88,112,190);
}
:root{
--btn-accent-bgcolor:rgb(88,112,190);
}
:root{
--btn-accent-bgcolor-hover:rgb(88,112,190);
}
:root{
--notices-success-bg:rgb(88,112,190);
}
:root{
--notices-success-color:#fff;
}
:root{
--notices-warning-bg:rgb(88,112,190);
}
:root{
--notices-warning-color:#fff;
}
	:root{
					
			
							--wd-form-brd-radius: 0px;
					
					--wd-form-brd-width: 2px;
		
					--btn-default-color: #333;
		
					--btn-default-color-hover: #333;
		
					--btn-shop-color: #fff;
		
					--btn-shop-color-hover: #fff;
		
					--btn-accent-color: #fff;
		
					--btn-accent-color-hover: #fff;
		
									--btn-default-brd-radius: 0px;
				--btn-default-box-shadow: none;
				--btn-default-box-shadow-hover: none;
				--btn-default-box-shadow-active: none;
				--btn-default-bottom: 0px;
			
			
			
					
					
							--btn-shop-bottom-active: -1px;
				--btn-shop-brd-radius: 0.001px;
				--btn-shop-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
				--btn-shop-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
			
			
					
									--btn-accent-brd-radius: 0px;
				--btn-accent-box-shadow: none;
				--btn-accent-box-shadow-hover: none;
				--btn-accent-box-shadow-active: none;
				--btn-accent-bottom: 0px;
			
			
			
					
							
					--wd-brd-radius: 0px;
			}

	
	
			@media (min-width: 1025px) {
			.whb-boxed:not(.whb-sticked):not(.whb-full-width) .whb-main-header {
				max-width: 1192px;
			}
		}

		.container {
			max-width: 1222px;
		}

		:root{
			--wd-container-width: 1222px;
		}
	
			.elementor-section.wd-section-stretch > .elementor-column-gap-no {
			max-width: 1192px;
		}
		.elementor-section.wd-section-stretch > .elementor-column-gap-narrow {
			max-width: 1202px;
		}
		.elementor-section.wd-section-stretch > .elementor-column-gap-default {
			max-width: 1212px;
		}
		.elementor-section.wd-section-stretch > .elementor-column-gap-extended {
			max-width: 1222px;
		}
		.elementor-section.wd-section-stretch > .elementor-column-gap-wide {
			max-width: 1232px;
		}
		.elementor-section.wd-section-stretch > .elementor-column-gap-wider {
			max-width: 1252px;
		}
		@media (min-width: 1239px) {
			.platform-Windows .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (min-width: 1222px) {
			html:not(.platform-Windows) .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}
	
			div.wd-popup.popup-quick-view {
			max-width: 920px;
		}
	
	
	
	
			.woodmart-woocommerce-layered-nav .wd-scroll-content {
			max-height: 223px;
		}
	
	
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//thisisweird.in/goodstep/wp-content/themes/woodmart/fonts/woodmart-font.woff2?v=7.0.4") format("woff2");
}

@font-face {
	font-family: "GILROY-MEDIUM";
	src: url("//thisisweird.in/goodstep/wp-content/uploads/2023/08/GILROY-MEDIUM.woff2") format("woff2"), 
url("//thisisweird.in/goodstep/wp-content/uploads/2023/08/GILROY-MEDIUM.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "GILROY-SEMIBOLD";
	src: url("//thisisweird.in/goodstep/wp-content/uploads/2023/08/GILROY-SEMIBOLD.woff2") format("woff2"), 
url("//thisisweird.in/goodstep/wp-content/uploads/2023/08/GILROY-SEMIBOLD.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "GILROY-BLACK";
	font-weight: 700;
	font-style: normal;
}

  /* Vertical slides */
.section-img-inner.vertical-slides.first-imgs img.img1-vertical-slider1 {
    opacity: 1 !important;
}
img.img1-vertical-slider1 {
    opacity: 0;
    transition: filter .8s ease, opacity .8s ease, background-position 0.8s ease;
}
.FixedWidget__fixed_widget.FixedWidget__fixed_widget__pinned img.img1-vertical-slider1 {
    opacity: 1;
}
/* .section-img-inner{
	filter: blur(30px);
	opacity: 0;
	background-position: 50% 40%;
	transition: filter .6s ease, opacity .6s ease, background-position 0.8s ease;
}
.vertical-stikcy-colmn1.FixedWidget__fixed_widget.FixedWidget__fixed_widget__pinned .section-img-inner{
  opacity: 1;
	background-position: 50% 50%;
	filter: blur(0);
} */
/* .section.active .section__img__inner {
	opacity: 1;
	background-position: 50% 50%;
	filter: blur(0);
} */




.section-img-inner.vertical-slides.slides-sections1 {
z-index: 1;
overflow: hidden;
} 
.section-img-inner.vertical-slides.slides-sections2{
z-index: 2;
overflow: hidden;
}
.section-img-inner.vertical-slides.slides-sections3 {
z-index: 3;
overflow: hidden;
}
.section.vertical-slides {
display: flex; 
min-height: 100vh;
position: relative;
z-index: 2;
}
.section.vertical-slides > * {
width: 50%; 
}
.section-img.vertical-slides {
position: relative;
display: flex;
}
.section-img-inner.vertical-slides {
width: 100%;
}
.section-body.vertical-slides {
display: inline-grid;
    align-items: center;
    width: 50% !IMPORTANT;
}

/* Vertical slides end */

.site-logo {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes scroll{
0% {
transform: translateX(0);
}
100% {
transform: translateX(calc(-780px * 5));
}
}
.slider {
width: 100%;
height: auto;
overflow:visible;
position: relative;
}
.slider-wrap {
animation: scroll 28s linear infinite;
display: flex;
/* width: calc(10% * 4); */
width:100%%;
height:100%;
}
.slide-image{
width:100%%;
height:100%;
object-fit:cover;
margin-left: 1934px;
scale: 4;
}
.slide{
width:100%;
height:100%;
margin-top: 177px;
text-align:center;
}

h2.climate-titl1 {
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p.climate-explore1 a {
font-weight: 600;
font-size: 15.072px;
}
p.climate-explore1 a:hover {
text-decoration: underline !IMPORTANT;
}
h2.home-fifty1 {
    text-align: center;
    font-size: 152px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 394px;
    display: flex;
    margin-left: auto;
   margin-right: 30px;
}
img.step-imgs1 {
width: 77px;
display: flex;
margin-left: auto;
margin-right: 0px;
}
h2.step-titl1 {
color: #FFF;
font-size: 26px;
font-weight: 400;
line-height: normal;
}
p.step-para1 {
color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: normal;
width: 335px;
}
p.step-link1 a {
color: #FFF;
font-size: 14.072px;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}
img.h-half-circle-img1 {
width: 726px;
display: flex;
margin-left: auto;
margin-right: auto;
}
p.home-fifty-para1 {
width: 372px;
}
p.climate-para1 {
width: 372px;
}
rs-module-wrap#rev_slider_2_1_wrapper {
padding: 30px 85px 50px 85px !IMPORTANT;
}
rs-module-wrap#rev_slider_2_1_wrapper rs-module {
border-radius: 50px;
}
h2.impact-titl1 {
text-align: center;
font-family: Poppins;
font-size: 45px;
font-weight: 700;
line-height: normal;
}
p.impact-subpara1 {
font-family: Poppins;
}
h2.bestseller-titl1 {
font-size: 45px;
font-weight: 700;
line-height: normal;
}
.testimonial-rating {
display: none !IMPORTANT;
}
img.review-star1 {
width: 150px;
margin-bottom: 12px;
}
p.review-para1 {
overflow: hidden;
color: #1A2873;
font-family: "GILROY-SEMIBOLD", Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 900;
line-height: normal;
text-align: left;
}
h2.review-titl1 {
color: #6B6FEB;
text-align: left;
font-size: 22px;
font-weight: 900;
line-height: normal;
}
.testimonial-content {
background: #fff;
padding: 25px;
height: 300px;
border-radius: 10px;
border: 2px solid #6758F2;
}
p.about-arrow1 img {
width: 35px;
display: flex;
margin-left: auto;
margin-right: auto;
}
h2.about-titl1 {
text-align: center;
font-size: 45px;
font-weight: 700;
line-height: normal;
}
p.about-para1 {
color: #6758F2;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: normal;
width: 593px;
display: flex;
margin-left: auto;
margin-right: auto;
}

@media (max-width:767px){
.slider.row {
margin: 0px !IMPORTANT;
}
.slide {
width: 100%;
height: 130px;
margin: auto;
margin-top: 88px;
text-align: center;
}
@keyframes scroll{
0% {
transform: translateX(0);
}
100% {
transform: translateX(calc(-600px * 4));
}
}

.slider-wrap {
animation: scroll 15s linear infinite;
}
.slide-image {
scale: 6;
}

h2.climate-titl1 {
    font-size: 40px;
}
h2.home-fifty1 {
    font-size: 100px;
    width: 394px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.home-fifty-para1 {
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
p.home-fifty-link1 {
    text-align: center;
    font-size: 16px;
}
.col-lg-12, .col-md-12, .col-12{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
h2.verify-titl1 {
    font-size: 24px !important;
    width: 251px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
img.india-map-img {
    max-width: 85% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.container.waste-section1 {
    top: 76px !important;
    right: 43px !important;
}
.container.food-section1 {
    bottom: 70px !IMPORTANT;
    right: 46px !IMPORTANT;
}
.container.climate-section1 {
    position: absolute;
    top: 118px !important;
    right: 110px !important;
}
img.climate-icon1, img.waste-icon1, img.food-icon1 {
    width: 32px !important;
}
h2.impact-titl1 {
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
}
h2.bestseller-titl1 {
    font-size: 24px !important;
    width: 260px !important;
}
p.about-para1 {
    width: 320px !important;
}
img.step-imgs1 {
    margin-left: 0px !IMPORTANT;
    margin-right: auto !IMPORTANT;
}
h2.mob-step-titl1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}
p.mob-step-para1 {
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
}
.col-md-6.mob-sec-column2 {
    display: flex;
    margin-top: 30px;
}
.mob-step-colmn1 {
    width: 100%;
}
img.mob-step-circle-img1 {
    width: 70px;
}
p.mob-step-link1 a {
    color: #fff !important;
    font-size: 14px;
}
p.mob-step-link1 {
    margin-top: -12px;
}
.col-md-12.for-mobile-section1 {
    padding-top: 40px;
}
.testimonial-content{
height: 342px !IMPORTANT;
}
}